name: Go
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ "ubuntu-latest", "macos-latest" ]
        go-version: [ "1.21" ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install GoogleSQL artifacts
      run: |
        if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
          cd cmd/updater && make build && make export && make update
        else
          go run ./cmd/install -verbose -skip-if-present=false -version v0.0.0
        fi
    - name: test
      run: go test -race -v ./ -count=1
      env:
        CC: clang
        CXX: clang++
